<%- include('header') -%>
<%- include('shortnav') -%>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="images/aboutimg.png" alt="About Us Image" class="img-fluid mb-4">
        </div>
        <div class="col-md-6 order-md-1">
          <h2 class="mb-4">About Us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ante vel metus varius, at tincidunt enim mollis. Aliquam sed eros ex. Nulla fermentum risus in dapibus scelerisque. Suspendisse imperdiet laoreet ultrices. </p>
          <p>Integer sed enim vel odio consequat porttitor vel vel tellus. Aliquam at arcu ut lectus fermentum dapibus sed eget est. Etiam tincidunt turpis id diam fringilla, ut placerat massa euismod. Nullam luctus accumsan libero, quis egestas mauris finibus id. Integer id mauris vitae ante tincidunt tristique ac at sem. Nam sit amet odio non lorem venenatis sagittis sed eget nibh.</p>
        </div>
      </div>
    </div>
  </section>


<%- include('footer') -%>
  