<%- include("header") -%>
    <%- include("navbar") -%>


        <div class="contact-up">

            <img class="contact-img" src="images/undraw_Contact_us_re_4qqt.png" alt="">

            <div class="contact-r">
                <h1 class="contact-us-head">Contact Us</h1>
                <ul class="ul-contact">

                    <li> Need To Get in Touch with us Feel Free to contact us. </li>
                    <li>We are open for you suggestions also </li>

                </ul>
            </div>
        </div>



        <div class="contact-pg">

            


            <form action="/contact" method="post">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-outline-primary mb-2">Send</button>
            </form>
        </div>

        <!-- <h1 class="sec-dev">Developers Section</h1>

        <div class="dev-img">

            <div class="cdev">
                <img class="devi" src="https://avatars.githubusercontent.com/u/80681817?v=4" alt="">
                <h5>Akshay Mathur </h5>
            </div>
            <div class="cdev">
                <img class="devi" src="https://avatars.githubusercontent.com/u/77660268?v=4" alt="">
                <h5>Harshit Tiwari</h5>
            </div>
            <div class="cdev">
                <img class="devi" src="https://avatars.githubusercontent.com/u/95119368?v=4" alt="">
                <h5>Shashwat Saxena</h5>
            </div>



        </div> -->



        <%- include ("footer") -%>