</body>

<footer>

    <div class="row">
        <div class="col-lg-6 ">
            <h1 class="footer-title">IASpiration</h1>
            <p class="footer-para">Always with you</p>
            <div class="social-images">
                <img src="images/🦆 icon _facebook outline_.png" alt="">
                <img src="images/🦆 icon _github_.png" alt="">
                <img src="images/🦆 icon _twitter outline_.png" alt="">
            </div>


            <p class="footer-copyright">© 2022 IASpiration, Inc.</p>

        </div>
        <div class="col-lg-6 ">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="overview">
                        <h2 class="title-over">OVERVIEW</h2>
                        <ul>
                            <li class="li-over">Guide</li>
                            <li class="li-over"> Roadmap</li>
                            <li class="li-over"> Notes</li>
                            <li class="li-over">Articles</li>
                            <li class="li-over"> Newspaper</li>
                            <li class="li-over">Resources</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 ">

                </div>
                <div class="col-lg-7 col-md-3 col-sm-3 ">

                    <div class="contact">
                        <h2 class="title-contact">CONTACT</h2>
                        <p class="contact-para">

                            +91 7062837834 <br>
                            Near State bank Bhopal Mp <br>
                            Zip Code: 488448 <br>
                            Alternet Phone: +91 9578325478 <br>




                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>





</footer>

</html>