<%- include("header") -%>
    <%- include("navbar") -%>

        <section id="mains">


            <section id="first-page">
                <div class="container-fluid">
                    <div>
                        <h1 style="font-family:Montserrat-Black">All About the UPSC and MAINS with <br> Complete
                            Information and All Guide </h1>
                        <img class=" upsc-image" src="images/prelims_img.png" alt="">
                        <p>UPSC Syllabus for Civil Service Exam (CSE) can be accessed and downloaded from this page.
                            Aspirants may bookmark this page to refer the latest syllabus the Civil Services Exam,
                            popularly known as ‘IAS exam’.</p>
                        <p>
                            A candidate’s rank in UPSC Civil Service Exam depends only on the mark scored in Main and
                            Interview. The main exam has 1750 marks while interview has 275 marks.

                        </p>

                        <p>The written examination (main) will consist of the following nine papers, but only 7 papers
                            will be counted for final merit ranking. For the rest two papers, the candidate should
                            secure minimum marks prescribed by UPSC each year.</p>
                    </div>
                </div>

            </section>


            <section id="second-page">
                <div class="container">
                    <div class="div-first">
                        <h2>1. Paper‐I: (Essay) – 250 Marks</h2>
                        <p>In Essay Paper, candidates may be required to write essays on multiple topics. They will be
                            expected to keep closely to the subject of the essay to arrange their ideas in an orderly
                            fashion and to write concisely. Credit will be given for effective and exact expression.</p>
                    </div>

                    <div class="div-first">
                        <h2>2. Paper‐2: (General Studies 1) – 250 Marks.</h2>
                        <p>General Studies 1 Paper Syllabus for UPSC Civil Services Mains Exam consists of the below
                            major areas: Indian Heritage and Culture, History and Geography of the World and Society.
                            The detailed syllabus is given below:</p>
                    </div>

                    <div>
                        <h6>General Studies 1 Paper Syllabus for UPSC Civil Services Mains</h6>
                        <div>
                            <ul>
                                <li>Indian culture will cover the salient aspects of Art Forms, Literature and
                                    Architecture from ancient to modern times</li>
                                <li>Modern Indian history from about the middle of the eighteenth century until the
                                    present- significant events, personalities, issues.
                                </li>
                                <li>The Freedom Struggle – its various stages and important contributors /contributions
                                    from different parts of the country.
                                </li>
                                <li>Post-independence consolidation and reorganization within the country.
                                </li>
                                <li>History of the world will include events from the 18th century such as industrial
                                    revolution, world wars,</li>
                                <li>redrawal of national boundaries, colonization, decolonization, political
                                    philosophies like communism,
                                </li>
                                <li>capitalism, socialism etc.- their forms and effect on the society.</li>
                                <li>Salient features of Indian Society, Diversity of India.
                                </li>
                                <li>Role of women and women’s organization, population and associated issues, poverty
                                    and
                                </li>
                                <li>developmental issues, urbanization, their problems and their remedies.
                                </li>
                                <li>Effects of globalization on Indian society
                                </li>
                                <li>Social empowerment, communalism, regionalism & secularism.
                                </li>
                                <li>Salient features of the world’s physical geography.
                                </li>
                                <li>Distribution of key natural resources across the world (including South Asia and the
                                    Indian subcontinent);
                                </li>
                                <li>factors responsible for the location of primary, secondary, and tertiary sector
                                    industries in
                                </li>
                                <li>various parts of the world (including India)
                                </li>
                                <li>Important Geophysical phenomena such as earthquakes, Tsunami, Volcanic activity,
                                    cyclone etc.,
                                </li>
                                <li>geographical features and their location- changes in critical geographical features
                                    (including water bodies and ice-caps) and in flora and fauna and the effects of such
                                    changes.</li>
                            </ul>
                        </div>


                    </div>

                    <div>
                        <div class="div-first">
                            <h2>3. Paper‐3: (General Studies 2) – 250 Marks</h2>
                            <p>In Essay Paper, candidates may be required to write essays on multiple topics. They will
                                be expected to keep closely to the subject of the essay to arrange their ideas in an
                                orderly fashion and to write concisely. Credit will be given for effective and exact
                                expression</p>
                        </div>

                        <div>
                            <h6>General Studies 2 Paper Syllabus for UPSC Civil Services Mains</h6>
                            <div>
                                <ul>
                                    <li>Indian Constitution- historical underpinnings, evolution, features, amendments,
                                        significant provisions and basic structure.</li>
                                    <li>Functions and responsibilities of the Union and the States, issues and
                                        challenges pertaining to the federal structure, devolution of powers and
                                        finances up to local levels and challenges therein.</li>
                                    <li>Separation of powers between various organs; dispute redressal mechanisms and
                                        institutions.</li>
                                    <li>Comparison of the Indian constitutional scheme with that of other countries</li>
                                    <li>Parliament and State Legislatures – structure, functioning, the conduct of
                                        business, powers & privileges and issues arising out of these.
                                    </li>
                                    <li>Structure, organization and functioning of the Executive and the Judiciary
                                        Ministries and Departments of the Government; pressure groups and
                                        formal/informal associations and their role in the Polity.
                                    </li>

                                    <li>Salient features of the Representation of People’s Act.</li>

                                    <li>Appointment to various Constitutional posts, powers, functions and
                                        responsibilities of various Constitutional Bodies.
                                    </li>

                                    <li>Statutory, regulatory and various quasi-judicial bodies.

                                    </li>

                                    <li>Government policies and interventions for development in various sectors and
                                        issues arising out of their design and implementation.
                                    </li>
                                    <li>Development processes and the development industry- the role of NGOs, SHGs,
                                        various groups and associations, donors, charities, institutional and other
                                        stakeholders.

                                    </li>

                                    <li>Welfare schemes for vulnerable sections of the population by the Centre and
                                        States and the performance of these schemes; mechanisms, laws, institutions and
                                        Bodies constituted for the protection and betterment of these vulnerable
                                        sections.

                                    </li>

                                    <li>Issues relating to the development and management of Social Sector/Services
                                        relating to Health, Education, Human Resources.

                                    </li>

                                    <li>Issues relating to poverty and hunger.

                                    </li>

                                    <li>Important aspects of governance, transparency and accountability, e-governance-
                                        applications, models, successes, limitations, and potential; citizens charters,
                                        transparency & accountability and institutional and other measures.

                                    </li>
                                    <li>Role of civil services in a democracy.

                                    </li>
                                    <li>India and its neighbourhood- relations.

                                    </li>
                                    <li>Bilateral, regional and global groupings and agreements involving India and/or
                                        affecting India’s interests.
                                    </li>
                                    <li>Effect of policies and politics of developed and developing countries on India’s
                                        interests, Indian Diaspora.
                                    </li>
                                    <li>Important International institutions, agencies and fora- their structure,
                                        mandate.</li>
                                </ul>
                            </div>


                        </div>


                    </div>



                    <div>

                        <div class="div-first">
                            <h2>4. Paper‐4: (General Studies 3) – 250 Marks</h2>
                            <p>General Studies 3 Paper Syllabus for UPSC Civil Services Mains Exam consists of the below
                                major areas: Technology, Economic Development, Biodiversity, Environment, Security and
                                Disaster Management. Detailed syllabus as provided by UPSC is as below:</p>
                        </div>

                        <div>
                            <h6>General Studies 3 Paper Syllabus for UPSC Civil Services Mains
                            </h6>
                            <div>
                                <ul>
                                    <li>Indian Economy and issues relating to planning, mobilization of resources,
                                        growth, development and employment.
                                    </li>
                                    <li>Inclusive growth and issues arising from it.
                                    </li>
                                    <li> Government Budgeting.</li>
                                    <li>Major crops cropping patterns in various parts of the country, different types
                                        of irrigation and irrigation systems storage, transport and marketing of
                                        agricultural produce and issues and related constraints; e-technology in the aid
                                        of farmers.
                                    </li>
                                    <li>Issues related to direct and indirect farm subsidies and minimum support prices;
                                        Public Distribution System- objectives, functioning, limitations, revamping;
                                        issues of buffer stocks and food security; Technology missions; economics of
                                        animal-rearing.
                                    </li>

                                    <li>Food processing and related industries in India- scope and significance,
                                        location, upstream and downstream requirements, supply chain management.
                                    </li>
                                    <li>Land reforms in India.
                                    </li>
                                    <li>Effects of liberalization on the economy, changes in industrial policy and their
                                        effects on industrial growth.

                                    </li>
                                    <li>Infrastructure: Energy, Ports, Roads, Airports, Railways etc.</li>
                                    <li>Investment models.
                                    </li>
                                    <li>Science and Technology- developments and their applications and effects in
                                        everyday life.
                                    </li>
                                    <li>Achievements of Indians in science & technology; indigenization of technology
                                        and developing new technology.</li>
                                    <li>Awareness in the fields of IT, Space, Computers, robotics, nanotechnology,
                                        biotechnology and issues relating to intellectual property rights.
                                    </li>
                                    <li>Conservation, environmental pollution and degradation, environmental impact
                                        assessment</li>
                                    <li>Disaster and disaster management.</li>
                                    <li>Linkages between development and spread of extremism.</li>
                                    <li>Role of external state and non-state actors in creating challenges to internal
                                        security.</li>
                                    <li>Challenges to internal security through communication networks, the role of
                                        media and social networking sites in internal security challenges, basics of
                                        cyber security; money-laundering and its prevention.
                                    </li>
                                    <li>Security challenges and their management in border areas; linkages of organized
                                        crime with terrorism.
                                    </li>
                                    <li>Various Security forces and agencies and their mandate.</li>
                                </ul>
                            </div>


                        </div>


                    </div>



                    <div>

                        <div class="div-first">
                            <h2>5. Paper‐5: (General Studies 4) – 250 Marks</h2>
                            <p>General Studies 4 Paper Syllabus for UPSC Civil Services Mains Exam consists of the below
                                major areas: Ethics, Integrity, and Aptitude. Details of the syllabus as provided by
                                UPSC is as below: This paper will include questions to test the candidates’ attitude and
                                approach to issues relating to integrity, probity in public life and his problem-solving
                                approach to various issues and conflicts faced by him in dealing with society. Questions
                                may utilise the case study approach to determine these aspects. The following broad
                                areas will be covered:

                            </p>
                        </div>

                        <div>
                            <h6>General Studies 3 Paper Syllabus for UPSC Civil Services Mains</h6>
                            <div>
                                <ul>
                                    <li>Ethics and Human Interface: Essence, determinants and consequences of Ethics in
                                        human actions; dimensions of ethics; ethics in private and public relationships.
                                        Human Values – lessons from the lives and teachings of great leaders, reformers
                                        and administrators; role of family, society and educational institutions in
                                        inculcating values.
                                    </li>
                                    <li>Attitude: content, structure, function; its influence and relation with thought
                                        and behaviour; moral and political attitudes; social influence and persuasion.
                                    </li>
                                    <li>Aptitude and foundational values for Civil Service, integrity, impartiality and
                                        non-partisanship, objectivity, dedication to public service, empathy, tolerance
                                        and compassion towards the weaker sections.</li>
                                    <li>Emotional intelligence-concepts, and their utilities and application in
                                        administration and governance.
                                    </li>
                                    <li>Contributions of moral thinkers and philosophers from India and the world.
                                    </li>
                                    <li>Public/Civil service values and Ethics in Public administration: Status and
                                        problems; ethical concerns and dilemmas in government and private institutions;
                                        laws, rules, regulations and conscience as sources of ethical guidance;
                                        accountability and ethical governance; strengthening of ethical and moral values
                                        in governance; ethical issues in international relations and funding; corporate
                                        governance.
                                    </li>
                                    <li>Probity in Governance: Concept of public service; Philosophical basis of
                                        governance and probity; Information sharing and transparency in government,
                                        Right to Information, Codes of Ethics, Codes of Conduct, Citizen’s Charters,
                                        Work culture, Quality of service delivery, Utilization of public funds,
                                        challenges of corruption.
                                    </li>
                                    <li>Case Studies on the above issues.</li>

                                </ul>
                            </div>


                        </div>


                    </div>

                    <div>
                        <h2 class="div-first">6. Paper‐6: (Optional Subject Paper 1) – 250 Marks

                        </h2>
                        <p>Paper ‐ A – Indian Language – Syllabus. (One of the Indian Languages to be selected by the
                            candidate from the Languages included in the Eighth Schedule to the Constitution. This paper
                            will not be compulsory for candidates hailing from the States of Arunachal Pradesh, Manipur,
                            Meghalaya, Mizoram, Nagaland and Sikkim.) 300 Marks.</p>
                    </div>
                    <div class="div-first">
                        <h2>7. Paper‐7: (Optional Subject Paper 2) – 250 Marks</h2>
                        <p>Paper ‐ B – English Language – Syllabus. 300 Marks.</p>
                    </div>
                    <div class="butttt">
                        <a
                            href="https://drive.google.com/uc?export=download&id=1zYRtgAIoVv8IKeDWTHZXoMxgueAKLtVY"><button
                                type="button" class="btn btn-success btn-lg">Download</button></a>

                    </div>

                </div>

            </section>


        </section>

        <%- include("footer") -%>