<%- include ("header") -%>
  <!-- front page section -->
  <section id="front-page">

    <%- include ("navbar") -%>




      <div class="container">
        <div>
          <h1 class="shilam">"शीलं परम भूषणम्"</h1>
          <p class="shilam-para">- Character is the highest virtue -</p>
        </div>
      </div>


      <!-- navbar-end -->


  </section>


  <!--  about page section -->



  <section id="aboutsite">


    <div style="text-align: centre;">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="site-heading">We gonna <br> provide <br> you everything</h1>
          <p class="site-para">Your Prep To Your Success</p>
          <center>


            <a class="" href="/guide"> <button class="btn btn-success site-roadmap btn-lg">ROADMAP</button></a>
          </center>
        </div>
        <div class="col-lg-6">
          <img class="site-img" src="images/about-head-img.gif" alt="">
        </div>
      </div>



      <div class="speed">

        <img class="speed-img" src="images/driving-scooter.gif" alt="">


        <h1 class="speed-title">Give Speed your Career <br> with IASpiration</h1>

      </div>

    </div>

    </div>



  </section>



  <hr class="bet-all">





  <section class="alllinks">
    <h1 class="all-heading">Always Took you Long time To Read NewsPaper</h1>

    <img class="all-img" src="images/undraw_Newspaper_re_syf5.png" alt="">


    <div class="all-items">
      <ol>
        <li class="alllinks-items"> <a href="/notez">Best News paper are available here on Daily Basis.</a> </li>
        <li class="alllinks-items"><a href="/notez">We will provide the notes on it Daily.</a></li>
        <li class="alllinks-items"><a href="/">All Ncert Notes will be provided.</a> </li>
        <li class="alllinks-items"><a href="/">Upsc Top books notes will also provided.</a></li>
        <li class="alllinks-items"><a href="/">A proper strategy to crak it.</a> </li>
        <li class="alllinks-items"><a href="/">Toppers Answer sheets.</a></li>
        <li class="alllinks-items"><a href="/">Previous year Question papers with model Answer key.</a></li>

      </ol>
    </div>




    <img class="all-img2" src="images/pixeltrue-special-deals-1.png" alt="">
    <h3 class="all-free">All Resources Are Free <br> to Use</h3>


  </section>

  <%- include ("footer") -%>