<%- include ("header") -%>
  <!-- front page section -->
  <section id="front-page">

    <!-- navbar -->
    <img src="images/logo2.png" class="nav-logo" alt="icon">
    <nav class="navbar navbar-expand-lg navbar-dark ">

      <div class="container-fluid navwar">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <a href="#" class="navbar-left "><img class="nav-logo" src="images/logo2.png"></a> -->
          <ul class="navbar-nav text-right list">

            <li class="nav-item">
              <a class="nav-link navitems active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item navitems">
              <a class="nav-link" href="/guide">Guide</a>
            </li>
            <li class="nav-item navitems">
              <a class="nav-link" href="/notez">Notez</a>
            </li>
            <li class="nav-item navitems dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/prelims">Prelims</a></li>
                <li><a class="dropdown-item" href="/mains">Mains</a></li>
                <li><a class="dropdown-item" href="/interview">Interview</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/books">Books</a></li>
                <li><a class="dropdown-item" href="/testseries">Test Series</a></li>
              </ul>
            </li>
            <li class="nav-item navitems">
              <a class="nav-link" href="/articles">Articles</a>
            </li>
            <li class="nav-item navitems">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>





    <div class="container">
      <div>
        <h1 class="shilam">"शीलं परम भूषणम्"</h1>
        <p class="shilam-para">- Character is the highest virtue -</p>
      </div>
    </div>


    <!-- navbar-end -->


  </section>


  <!--  about page section -->

  <section id="about">

    <div class="row">

      <div class="col-lg-6">
        <h1 class="about-title2">HEllo welocome to the site <br> Hello WELCOME </h1>

      </div>

      <div class=" col-lg-6 ">
        <h1 class="about-title">HEllo welocome to the site <br> Hello WELCOME </h1>

      </div>

    </div>

  </section>

  <section id="aboutsite">


    <div style="text-align: centre;">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="site-heading">We gonna <br> provide <br> you everything</h1>
          <p class="site-para">Your Prep To Your Success</p>
          <center>


            <a class="" href="/guide"> <button class="btn btn-success site-roadmap">ROADMAP</button></a>
          </center>
        </div>
        <div class="col-lg-6">
          <img class="site-img" src="images/about-head-img.gif" alt="">
        </div>
      </div>



      <div class="speed">
        <div class="row">
          <div class="col-lg-6">
            <img class="speed-img" src="images/driving-scooter.gif" alt="">
          </div>
          <div class="col-lg-6">
            <h1 class="speed-title">Give Speed your Career <br> with IASpiration</h1>
          </div>
        </div>
       
        
        
      </div>



    </div>

    <div>

    </div>

  </section>

  <%- include ("footer") -%>