<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@700;900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,400&family=Inter&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/c8b0945db2.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/letus.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">

</head>
<body>
    <%- include('shortnav') -%>
    <div class="bar" style="text-align: center;">

        <h1 class="appre">We Appreciate your choice and guarantee your privacy</h1>

        <div class="row" style="text-align: center;">
            <div class="col-lg-5">
                <h1>Let Us Know who you are?</h1>
               
                <img class="grpimg" src="images/Group.png" alt="group.png">

                <center>
                    <a href="/signup"><button class="btn btn-primary btn-lg btngol" style="display: block;">Register YourSelf</button></a>
                </center>

                <h3 class="llt">Letting us know you benefits</h3>
           
                    
                    <ul>
                        <li class="registerpara">we can contact you.</li>
                        <li class="registerpara">we will provide you additional guidance and more resources to crack UPSC via mail.</li>
                        <li class="registerpara">we will inform you about any new updates and changes directly</li>
                        <li class="registerpara">we can add you in our groups in our important groups </li>
                    </ul>
                
            </div>

            <div id="imgline" class="col-lg-2">
                <center>
                    <img src="images/line.png" alt="">
                </center>
            </div>

            <div class="col-lg-5">
                <h1>Directly get into Website</h1>
            
                <img class="cycleimg" src="images/Illustrationgo.png" alt="">
                <center>
                    <a href="/home"><button class="btn btn-primary btn-lg btngod" style="display: block;">Go To Website</button></a>
                </center>
            </div>
        </div>
        

    </div>

    <%- include("footer") -%>

    <script src="animation.js"></script>
</body>
</html>