<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #69949b;">

  <div class="container-fluid navwar">
    <a class="navbar-brand" href="#"><img src="images/logo.png" class="nav-logo" alt="icon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <a href="#" class="navbar-left "><img class="nav-logo" src="images/logo2.png"></a> -->
      <ul class="navbar-nav text-right list">

        <li class="nav-item">
          <a class="nav-link navitems " aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link navitems" href="/guide">Guide</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link navitems" href="/notez">Notez</a>
        </li>
        <li class="nav-item  dropdown">
          <a class="nav-link navitems dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prelims1">Prelims</a></li>
            <li><a class="dropdown-item" href="/mains1">Mains</a></li>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/pyq">PYQ Paper</a></li>
            
          </ul>
        </li>
        <li class="nav-item ">
          <a class="nav-link navitems" href="/articles">Articles</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link navitems" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
