<%- include ("header") -%>

    <%- include ("navbar") -%>

        <section id="prelims-page">

            <div class="first-heading">
                <h1><b>All About the UPSC and PRELIMS with Complete Information and All Guide</b></h1>
            </div>

            <div class="pre-img">
                <img src="images/prelims_img.png" alt="">
            </div>

            <div class="first-heading">
                <p>
                    UPSC Syllabus for Civil Service Exam(CSE) can be accessed and
                    <br />downloaded from this page. Aspirants may bookmark this page to
                    <br />refer the latest syllabus of the Civil Services Exam, popularly
                    known as<br />"IAS EXAM"
                </p>
            </div>

            <div class="third-heading">
                <h1 class="pre-all-head"><b>UPSC Syllabus - Civil Services Preliminary Exam</b></h1>

                <p class="p1-head">
                    The Civil Services Preliminary exam comprises of two compulsory papers of 200 marks each
                    (General Studies Paper I and General Studies Paper-II).The questions will be MCQs.The
                    marks in prelims will not be counted for final ranking, but just for qualification for the main
                    exam.
                    <br>
                    <br>
                    The Commission will draw a list of candidates to be qualified for Civil Service (Main) Examination
                    based
                    on the criterion of minimum qualifying marks of 33% in General Studies PaperII of Civil Services
                    (Preliminary)
                    Examination and total qualifying marks of General Studies Paper-I of Civil Services (Preliminary)
                    Examination as
                    may be determined by the Commission.
                </p>




                <h1 class="pre-all-head"><b> UPSC Syllabus for Paper I - 200 marks </b></h1>


                <div class="p1-head">
                    This objective paper is for a duration of two hours. There will be 100 questions.
                    Marks of only this paper is counted to decide the toppers of the preliminary exam.
                    The syllabus of GS Paper 1 is given below.
                </div>

                <ul class="paper1list">
                    <li>Current events of national and international importance.</li>
                    <li>History of India and Indian National Movement.</li>
                    <li>Indian and World Geography – Physical, Social, Economic Geography of India and the World.</li>
                    <li>Indian Polity and Governance – Constitution, Political System, Panchayati Raj, Public Policy,
                        Rights Issues, etc.</li>
                    <li>Economic and Social Development Sustainable Development, Poverty, Inclusion,
                        Demographics, Social Sector initiatives, etc.</li>
                    <li>General issues on Environmental Ecology, Bio-diversity and Climate Change – that do not require
                        subject specialization.</li>
                    <li>General Science.</li>
                </ul>




                <h1 class="pre-all-head"><b>UPSC Syllabus for Paper-II – 200 marks</b></h1>

                <div class="p1-head">
                    This objective paper is for a duration of two hours. There will be 80 questions.
                    Marks of this paper is counted to decide the toppers of the preliminary exam.
                    This paper is only qualifying in nature. Aspirants just need to ensure that
                    they score at least 33% marks in this paper.The syllabus of GS Paper 2 (CSAT) is given below.
                </div>


                <ol class="paper1list">
                    <li>Comprehension.</li>
                    <li>Interpersonal skills including communication skills.</li>
                    <li>Logical reasoning and analytical ability.</li>
                    <li>Decision-making and problem-solving.</li>
                    <li>General mental ability.</li>
                    <li>Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level),
                        Data interpretation (charts, graphs, tables, data sufficiency etc. – Class X level).</li>
                </ol>

                <div class="p1-head">
                    Only when tested in an exam atmosphere with negative marking, you can improve the ability to deliver
                    in
                    the actual exam hall.
                    Try for free the UPSC Prelims online mock exams by ClearIAS – in the new innovative platform which
                    integrates learning with test-taking.
                    You would be surprised to find how fast you can learn!
                </div>


            </div>
        </section>




        <%- include ("footer") -%>