<%- include("header") -%>

    <%- include("navbar") -%>

        <div class="road-top">

            <img class="rt-img" src="images/undraw_summer_1wi4.png" alt="">
            <h1 class="rt-head">Get Know All About It</h1>

        </div>


        <div class="img-contain">
            <img class="roadmap-img" src="images/roadmappng.png" alt="">
        </div>


        <div class="card-contain">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/prelims-card.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Prelims</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/prelims" class="btn btn-success">Go</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/prelims-card.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mains</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/mains" class="btn btn-success">Go</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/prelims-card.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Interview</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/interview" class="btn btn-success">Go</a>
                </div>
            </div>
        </div>


        <p class="rf-bottom">


            The Ultimate strategy for the UPSC exam has been distilled from the strategy of not one, but many toppers
            over the years.
            Time and time again, the same fundamental guidelines emerged with discussions with many UPSC toppers and
            successful candidates.
            These insights were combined with research from the behavioral sciences, cognitive sciences, goal-setting
            theory, and motivation studies to create the Ultimate Strategy-
        </p>




<%- include("footer") -%>