<%- include("header")  -%> 

<%- include("navbar")  -%> 

<div class="road-top">
<img class="rt-img" src="images/undraw_summer_1wi4.png" alt="">
<h1 class="rt-head">Top Strategies By Us</h1>


</div>



<%- include("footer") -%> 