/* navbar items */

.nav-logo {

    width: 15%;
    /* display: inline-block; */
    position: absolute;
    left: 0;
    top: 0;
}


@media only screen and (max-width: 576px) {
    .nav-logo {
        width: 25%;
        position: absolute;

    }
}

.navbarwhole {
    margin-bottom: 5%;
}

.list {
    margin-top: 2%;
    margin-left: 55%;
}

.navitems {
    letter-spacing: 2px;
    margin: 1%;
    font-size: 20px;

}
/* signup page */


#signup {
    margin: 0px !important;
    
    text-align: center;
}
.logsing{
    margin-top: 3%;
    width: 25%;
}
#signup,h1{
    margin-top: 7%;
    font-family: 'Poppins' ;
}

.upimgsing{
    display: flex;
    justify-content: center;
}

.singimg {
    width: 30%;
}

.parasingup{
    line-height: 2;
    margin-top: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arima Madurai';
    margin-right: 7%;
}

@media(max-width:576px) {
    .upimgsing{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .parasingup{
        margin-left: 2%;
        margin-right: 2%;
    }
}

