/* font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif; */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {


    margin: 0%;
    padding: 0%;

}

/* navbar items */

.nav-logo {

    width: 15%;
    /* display: inline-block; */
    position: absolute;
    left: 0;
    top: 0;
}


@media only screen and (max-width: 576px) {
    .nav-logo {
        width: 25%;
        position: absolute;

    }
}

.navbarwhole {
    margin-bottom: 5%;
}

.list {
    margin-top: 2%;
    margin-left: 50%;
}

.navitems {
    letter-spacing: 2px;
    margin: 1%;
    font-size: 20px;

}

#front-page {
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    font-family: 'Merriweather', serif;
    height: 800px;


}




.shilam {
    color: white;
    padding-top: 60px;
    /* padding-left: 10px; */
    text-shadow: 1px 1px 2px black;
    font-size: 6rem;
    font-family: 'Noto Sans Devanagari', sans-serif;
}



.shilam-para {
    margin-top: 2%;
    color: white;
    font-size: 1.5rem;
}

@media(max-width:576px) {
    .shilam {
        margin-top: 100px;
        font-size: 3rem;
        padding-left: 0%;
    }

    .shilam-para {
        margin-top: 7%;
        font-size: 1rem;
    }
}

/* about */

#about {
    text-align: center;
    min-height: 900px;
    font-family: 'Noto Serif', serif;
    background-image: -webkit-linear-gradient(65deg, #EEF2E6 50%, #496e71 50%);
}

.about-title {
    text-align: left;
    color: black;
    margin-top: 50%;
    font-size: 3rem;
    display: flex;
    font-weight: 400;
    justify-content: center;

}

.about-title2 {
    color: white;
    text-align: right;
    margin-top: 5%;
    margin-left: 7%;
    font-weight: 400;
    font-size: 3rem;
}

@media(max-width: 576px) {
    .about-title {
        font-size: 2rem;
        margin-top: 250%;
        margin-bottom: 10%;
        text-align: center;
    }

    .about-title2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 30%;
        margin-left: 0%;
    }
}


/*  footer  */
footer {
    height: 580px;
    background: rgba(0, 0, 0, 0.91);

}


.footer-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    margin-left: 47px;
    padding-top: 98px;
    /* identical to box height */

    text-align: left;

    color: #FFFFFF;
}

.footer-para {
    margin-left: 108px;
    padding-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: left;

    color: #FFFFFF;
}




.footer-copyright {

    margin-left: 111px;
    margin-top: 189px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

@media(max-width:576px) {
    footer {
        height: 900px;

        background: #171717;
    }

    .footer-title {

        padding: 16px;
        margin-left: 36px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: left;

        color: #FFFFFF;
    }

    .footer-para {
        margin-left: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        text-align: left;

        color: #FFFFFF;
    }



    .title-over {

        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: center;

        color: #FFFFFF;
    }

    .li-over {
        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .footer-copyright {
        margin-left: 36px;
        margin-top: 13px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        color: #FFFFFF;
    }

    .title-contact {
        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #FFFFFF;
    }

    .contact-para {
        font-family: 'Stylish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

    }



}

.overview {
    width: 173px;
    height: 348px;

    margin-top: 122px;
}

.contact {
    margin-top: 70px;
    padding-left: 36px;
}

@media(max-width:576px) {
    .overview {
        margin-left: 40px;
        width: 173px;
        height: 208px;
        margin-top: 10px;
    }

    .contact {
        padding-left: 10px;
        margin-top: 10px;
        padding-left: 36px;
        margin-left: 40px;
    }
}

.title-over {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}



.li-over {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;
}

.contact {
    margin-top: 122px;
    padding-left: 3%;
}

.title-contact {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */

    text-align: left;

    color: #FFFFFF;

}

.contact-para {
    text-align: left;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;

}

.social-images {
    margin-left: 37px;
    margin-top: 38px;
}



/* About Site Section Starts */
#aboutsite {
    margin-bottom: 7%;
    /* height: 1000px; */
}

.site-heading {
    margin-top: 189px;
    margin-left: 152px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: #000000;

}

.site-para {
    margin-left: 160px;
    margin-top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #000000;

}

.site-roadmap {
    margin-top: 119px;
    margin-right: 188px;
}

.site-img {
    margin-top: 132px;
    margin-right: 125px;
    width: 75%
}

@media(max-width:576px) {
    .site-heading {
        margin-top: 80px;
        margin-left: 1px;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    .site-para {
        margin-top: 70px;
        margin-left: 86px;
        font-size: 20px;
        line-height: 30px;
    }

    .site-roadmap {
        margin-top: 49px;
        margin-left: 109px;
    }

    .site-img {
        margin-left: 28px;
        margin-top: 2%;
    }
}


.speed {
    margin-top: 5%;
    display: flex;
    justify-content: center;


}

.speed-title {
    display: flex;
    justify-content: right;

    margin-left: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: #000000;

}

.speed-img {
    margin-left: 61px;
}

@media(max-width:576px) {

    .speed {
        flex-direction: column-reverse;
    }

    .speed-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 58px;
        margin-left: 17px;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
    }

    .speed-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-left: 45px;
    }
}

/* Alllinks Section */

.alllinks {
    height: 1000px;
    background-color: #FFFFFF;


}

.all-heading {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: #000000;

}

.all-img {
    display: inline-block;
    width: 445px;
    height: 349px;
    margin-right: 30px;
}

.all-items {
    margin-top: 5%;
    margin-left: 7%;
    display: inline-block;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #4B71F4;
}



.all-img2 {
    display: flexbox;
    margin-left: 10%;

}

.all-free {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #000000;
}



@media(max-width:576px) {

    .alllinks {
        height: 1200px;
    }

    .all-heading {
        margin-left: 7%;
        margin-right: 7%;
        font-size: 36px;
        line-height: 60px;
    }

    .all-items {
        display: block;
        font-size: 1rem;
    }

    .all-img {
        display: block;
        width: 368px;
        height: 266px;
        margin-left: 17px;

    }

    .all-img2 {
        margin-left: 7%;
        width: 70%;
        display: inline-block;
    }

    .all-free {
        font-size: 24px;
        margin-left: 15%;
        margin-right: 15%;
    }
}


/* ROADMAP PAGE */

.road-top {
    margin-top: 5%;

    /* height: 300px; */
    display: flex;
    justify-content: flex-start;

}

.rt-img {
    margin-top: 7%;
    width: 25%;

}

.rt-head {
    margin-left: 10%;
    justify-self: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */


    color: #000000;
}

@media(max-width:576px) {
    .road-top {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .rt-head {
        font-size: 36px;
        line-height: 60px;
    }

    .rt-img {
        width: 30%;
    }
}

.img-contain {
    display: flex;
    justify-content: center;
    align-items: center;

}

.roadmap-img {

    width: 50%;
    display: flex;
}

.card-contain {
    margin-left: 3%;
    margin-right: 3%;
    background-color: #000000;
    flex-flow: wrap;
    margin-top: 7%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-content: center;

}

.card {
    margin: 3%;
}



.rf-bottom {
    margin: 10% 15%;

    display: flex;
    justify-self: center;
    align-self: center;

    font-family: 'Arima Madurai', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;


}

.card-img-top {
    width: 75%;
}

@media(max-width:576px) {
    .roadmap-img {
        width: 95%;
    }

    .rf-bottom {

        font-size: 20px;
        line-height: 30px;
    }


}


/* prelims page */

#prelims-page {
    margin: 5% 7%;
}

.first-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2% 15%;
    font-family: 'Poppins';

}

.pre-all-head {
    font-family: 'Poppins';
}

.pre-img {
    display: flex;
    justify-content: center;
    align-content: center;
}




.second-heading {
    margin-left: 122px;

    margin-top: 7%;
    /* text-align: center; */
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;

}

.third-heading {
    /* display: block; */
    margin-top: 7%;
    margin-left: 122px;
    text-align: left;
    font-size: 1.5rem;

}

.p1-head {
    margin-top: 2%;
    font-family: 'Arima Madurai', cursive;
}

.paper1list {
    font-family: 'Arima Madurai', cursive;
    line-height: 2;
    margin-top: 3%;
}


@media(max-width:576px) {
    #prelims-page {
        margin: 0%;
    }

    .first-heading {
        margin-left: 2%;
    }

    .second-heading {
        margin-left: 2%;
    }

    .third-heading {
        margin-left: 2%;
    }

    .p1-head {
        margin-left: 2%;
    }
}


/* mains page */

#mains {
    font-family: 'Arima Madurai', cursive;
    margin: 7% 15%;

}

.mains-head {
    font-family: "Montserrat-Black";

    font-size: 3.0rem;
    /* line-height: 1.5; */
    font-size: 200%;
    font-weight: bold;
    margin-left: 4%;
}

.cn {
    padding: 5% 31%;
    margin-left: auto;
}

.upsc-image {
    /* width: 75%; */
    margin-left: 7%;

}



#second-page {
    padding-left: 5%;
}

.sp-container {
    padding: 2% 15%;
    margin-left: 8%;
    word-break: normal;
    width: 500%;
}

.butt {
    margin-left: 20%;
}


.div-first {
    padding-top: 5%;

}

/* Interview page */

#interview-section {
    margin: 7% 15%;

}

.int-head {
    font-family: 'Merriweather', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.int-view-img {
    margin-top: 5%;
    width: 55%;
    display: flex;
    justify-self: center;
}

.int-point {
    line-height: 2;
    font-family: 'Arima Madurai', cursive;
    font-size: 1.5rem;

}


.if-class {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.int-bod {
    text-align: left;
    margin-top: 8%;
}


/* news api */

.news-img {
    max-width: 100%;
    transition: all 0.7s;
}

.news-container {
    margin-bottom: 69px;
    padding: 0 1rem;
    padding-top: 92px;
}

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;

}

.news-box {
    transition: all 0.3s;
    text-decoration: none;
    color: rgb(29, 25, 25);

    background-color: white;
    padding: 20px;
}

.articles-title {
    font-family: 'Poppins';

}

.top-cur {
    font-family: 'Poppins';
}

.topc {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.updated-on {
    color: red;
    font-family: 'Poppins';
    font-size: 20px;

}

.news-box:hover {
    text-decoration: none;
    color: rgb(29, 25, 25);
    ;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.Hover-effect {
    position: relative;
}

:root {
    --underline_color: red;
    --underline-hight: 0.175rem;
}

.Hover-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--underline-hight);
    background-color: var(--underline_color);
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}



.Hover-effect:hover::after {
    transform: scale(1, 1);
}


/* notez section */
.notez-head {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 7%;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 72px;

    color: #000000;
}

.notez-imp {
    margin: 3% 15%;
    line-height: 2;
    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;


    color: #000000;

}

.notez-img {
    justify-content: space-around;
    align-content: center;
    display: flex;

}

.nt-img {
    width: 35%;
}

.af6 {
    margin-top: 7%;
    margin-left: 2%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;


    color: #000000;

}

.notez-news-content {
    margin: 8% 15%;

    display: flex;
    flex-direction: column-reverse;


    /* justify-content: space-around; */
}

.content-notez {
    display: flex;

}

.ndate {
    display: flex;
    justify-self: center;
    font-size: 26px;
    margin: 1%;
}

.nlink {
    display: flex;
    justify-self: center;
    font-size: 26px;
    margin: 1%;
}

.npbtn {
    margin: 1%;
}

@media(max-width:576px) {
    .notez-news-content {
        margin: 8% 0%;
        /* justify-content: space-around; */
    }

    .ndate {
        display: flex;
        justify-self: center;
        font-size: 1.2rem;
        margin: 1%;
    }

    .nlink {
        display: flex;
        justify-self: center;
        font-size: 1.2rem;
        margin: 1%;
    }

    .npbtn {
        margin: 1%;
    }
}

/* Resources Section */

.pre-resh {
    display: flex;
    justify-content: center;
    align-content: center;

    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 72px;

    color: #000000;

}

.res-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

@media(max-width:576px) {
    .res-container {
        flex-direction: column;
        justify-content: center;
    }
}


/* Contact page */

.contact-up {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.contact-img {
    margin-right: 5%;
    width: 45%;
}

.contact-r {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5%;
    line-height: 2;
}

.contact-pg {
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
    justify-content: center;
    align-content: center;
}

@media(max-width:576px) {
    .contact-img {
        width: 75%;
    }
}


.sec-dev {
    text-align: center;
    margin: 7% 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;

    line-height: 72px;
}


.devi {
    width: 25%;
    border-radius: 100%;
    /* margin: 2%; */
}

.dev-img {

    display: flex;
    justify-content: center;
    align-content: center;

}

.cdev {
    text-align: center;
    height: 200px;
    width: 200px;
}


/* Error page  */

.error{
    background-image: url(../images/errpages.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Poppins';
    height: 600px;
}

.er4{
    margin-top: 10%;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}

@media(max-width:575px){
    .er4{
        margin-top: 7%;
        font-size: 70px;
    }
}



  
  
  
  